@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed&display=swap");

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #344459;
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  color: white;
  overflow: hidden;
}

.page-header {
  width: 100%;
  height: 5vh;
  background-color: #253140;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vh;
  font-size: 25px;
  position: fixed;
}

.header-option {
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: white;
}

.header-option::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.header-option:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header-right {
  position: absolute;
  right: 20vh;
}

.user-menu {
  position: absolute;
  right: 6vh;
  width: 30vh;
  height: 20vh;
  background-color: #435973;
  top: 5vh;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: none;
  z-index: 1;
}

.user-menu-option {
  position: relative;
  width: 80%;
  left: 10%;
  border-radius: 10px;
  margin-top: 1vh;
  background-color: #253140;
  height: 5vh;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.user-menu-option:hover {
  background-color: white;
  color: #253140;
}

.user-menu-option span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.user-menu-option i {
  position: absolute;
  right: 1vh;
  top: 50%;
  transform: translateY(-50%);
}

.header-image {
  position: absolute;
  width: 40px;
  right: -1vh;
  height: 40px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.profile-name {
  position: relative;
  text-align: center;
  margin-top: 1vh;
  font-size: 25px;
}

.login-page,
#login-form,
.register-page,
#register-form {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4vh;
  width: 60vh;
  height: 60vh;
  background-color: #253140;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.login-page,
.register-page span {
  font-size: 20px;
}

.register-page {
  height: 75vh !important;
}

form {
  width: 100%;
  /* height: 100%; */
}

.single-input {
  width: 80%;
  display: flex;
  margin-bottom: 15px;
  border-bottom: 2px solid gray;
}
.single-input i {
  padding: 8px 16px;
  color: white;
}
.single-input input {
  width: 100%;
  outline: none;
  height: 30px;
  font-size: 18px;
  background-color: transparent;
  border: none;
  color: white;
}

.submit-btn {
  border: 0px solid #c1c1c1;
}
.submit-btn input {
  background: #344459;
  color: #fff;
  cursor: pointer;
  height: 5vh;
  border-radius: 10px;
  font-size: 20px;
  transition: 0.3s;
}

.submit-btn input:hover {
  background-color: white;
  color: #344459;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
  color: white;
}

.home-page {
  position: relative;
  top: 3vh;
  display: flex;
  flex-direction: row;
}

.settings-page {
  position: absolute;
  top: 5vh;
  width: 100%;
  height: 95vh;
  display: flex;
}

.settings-nav {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 10vh;
}

.s-nav-title {
  width: 70%;
  font-size: 60px;
  font-weight: 700;
}

.s-nav-menu {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.menu-option {
  margin-top: 2vh;
  font-size: 25px;
  display: flex;
  /* gap: 1vh; */
  cursor: pointer;
  font-variant: small-caps;
  font-weight: 700;
  transition: 0.3s;
}

.menu-option i {
  width: 60px;
}

.settings-blocks {
  width: 75%;
  height: 100%;
}

.settings-option {
  position: absolute;
  width: 50%;
  height: 30%;
  background-color: #253140;
  top: 50%;
  left: 60%;
  transform: translate(-60%, -50%);
  border-radius: 10px;
}

.option-left {
  width: 40%;
  height: 100%;
  background-color: #253140;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.option-right {
  width: 60%;
  height: 100%;
  border-left: 1px solid gray;
}

.option-right span {
  position: relative;
  display: block;
  width: 80%;
  top: 1vh;
  font-size: 20px;
  left: 10%;
}

.left-title {
  position: relative;
  top: 2vh;
  font-size: 30px;
  left: 10%;
}

.left-desc {
  position: relative;
  width: 80%;
  top: 3vh;
  font-size: 20px;
  left: 10%;
}

.settings-username,
.settings-username2,
.settings-username3,
.settings-username4 {
  position: relative;
  display: block;
  outline: none;
  margin-top: 2vh;
  border: 1px solid gray;
  border-radius: 10px;
  width: 80%;
  left: 10%;
  height: 5vh;
  background-color: transparent;
  color: gray;
  font-size: 20px;
  padding-left: 2vh;
}

.settings-username:focus,
.settings-username2:focus,
.settings-username3:focus,
.settings-username4:focus {
  border: 1px solid white;
  color: white;
}

.settings-username:focus ~ .username-label,
.settings-username2:focus ~ .username-2-label,
.settings-username3:focus ~ .username-3-label,
.settings-username4:focus ~ .username-4-label {
  color: white;
}

.username-label,
.username-2-label,
.username-3-label,
.username-4-label {
  position: absolute;
  margin-left: 8%;
  margin-top: -4.3vh;
  font-size: 25px;
  background-color: #253140;
  cursor: text;
  color: gray;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
}

.settings-username:focus ~ .username-label,
.settings-username:not(:placeholder-shown).settings-username:not(:focus)
  ~ .username-label,
.settings-username2:focus ~ .username-2-label,
.settings-username2:not(:placeholder-shown).settings-username2:not(:focus)
  ~ .username-2-label,
.settings-username3:focus ~ .username-3-label,
.settings-username3:not(:placeholder-shown).settings-username3:not(:focus)
  ~ .username-3-label,
.settings-username4:focus ~ .username-4-label,
.settings-username4:not(:placeholder-shown).settings-username4:not(:focus)
  ~ .username-4-label {
  margin-top: -6.3vh;
  font-size: 1rem;
  margin-left: 9%;
}

.save-changes {
  position: absolute;
  right: 4vh;
  bottom: 2vh;
  width: 20vh;
  height: 5vh;
  border-radius: 10px;
  background-color: #344459;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
  font-variant: small-caps;
  transition: 0.3s;
  cursor: pointer;
}

.save-changes:hover {
  background-color: white;
  color: #344459;
}

.settings-selected {
  color: lightblue;
}

.delete-account {
  position: relative;
  width: 80%;
  left: 10%;
  outline: none;
  border: none;
  height: 5vh;
  border-radius: 10px;
  background-color: #344459;
  color: white;
  font-size: 20px;
  top: 10vh;
  transition: 0.3s;
  cursor: pointer;
}

.delete-account:hover {
  background-color: red;
}

.notification {
  position: absolute;
  bottom: 2vh;
  right: 2vh;
  width: 30vh;
  height: 5vh;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 20px;
  transition: 0.5s opacity;
  opacity: 0;
  z-index: 2;
}

.loader {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
  animation: animate 1.2s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
}

.loader span:nth-child(1) {
  filter: blur(5px);
}

.loader span:nth-child(2) {
  filter: blur(10px);
}

.loader span:nth-child(3) {
  filter: blur(25px);
}

.loader span:nth-child(4) {
  filter: blur(50px);
}

.loader:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #f1f1f1;
  border: solid white 10px;
  border-radius: 50%;
}

.loading-page {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  flex-direction: column;
  gap: 5vh;
  z-index: 1;
}

.loading-page span {
  font-size: 25px;
}

.chats-page {
  position: relative;
  top: 5vh;
  width: 100%;
  height: 95vh;
  display: flex;
}

.my-chats {
  width: 15%;
  height: 100%;
  /* border-right: 2px solid gray; */
  background-color: #253140;
}

.chat-page {
  width: 85%;
  height: 100%;
  background-color: #344459;
  display: flex;
  flex-direction: column;
}

.chats-header {
  position: relative;
  text-align: center;
  top: 2vh;
  font-size: 25px;
  font-weight: bold;
}

.chats {
  position: relative;
  top: 3vh;
  width: 80%;
  height: 87%;
  left: 10%;
  /* background-color: rgb(52, 68, 89); */
  overflow: hidden;
  overflow-y: scroll;
}

.chat-option {
  position: relative;
  width: 100%;
  height: 3vh;
  background-color: transparent;
  border-radius: 5px;
  margin-top: 1vh;
  cursor: pointer;
  transition: 0.2s;
  color: gray;
}

.chat-option:hover {
  background-color: #344459;
  color: white;
}

.selected-chat {
  background-color: #344459;
  color: white;
}

.left-items {
  position: absolute;
  top: 50%;
  left: 1vh;
  transform: translateY(-50%);
}

.right-items {
  position: absolute;
  top: 50%;
  right: 1vh;
  transform: translateY(-50%);
}

.right-items:hover {
  color: lightblue;
}

.delete:hover {
  color: red;
}

.chat-option span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
  width: 3px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(52, 68, 89);
  border-radius: 10px;
}

.chat-header {
  position: relative;
  width: 100%;
  height: 5vh;
  border-bottom: 1px solid #253140;
}

.chat-header i {
  position: relative;
  top: 50%;
  left: 2vh;
  transform: translateY(-50%);
  color: gray;
}

.chat-header span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5vh;
  color: white;
  font-size: 20px;
}

.chat-main {
  position: relative;
  width: 100%;
  height: 85vh;
  /* display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center; */
  gap: 1vh;
  overflow: hidden;
  overflow-y: scroll;
}

.chat-message {
  position: relative;
  display: flex;
  width: 100%;
  min-height: min-content;
  height: 6vh;
  /* background-color: pink; */
  transition: 0.2s;
  margin-top: 1vh;
}

.chat-message:hover {
  background-color: #253140;
}

.message-avatar {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: 1vh;
  top: 50%;
  transform: translateY(-50%);
}

.message-sender {
  position: relative;
  width: calc(100% - 60px);
  left: 2vh;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sender {
  position: relative;
  top: 5px;
  width: 100%;
  height: 30%;
}

.sender span {
  position: relative;
  left: 1vh;
  color: gray;
  font-size: 15px;
}

.message {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.chat-input {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-field {
  position: relative;
  width: 99%;
  height: 5vh;
  background-color: #253140;
  border-radius: 10px;
}

.add-file {
  position: absolute;
  top: 50%;
  left: 2vh;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
}

.add-emoji {
  position: absolute;
  top: 50%;
  right: 2vh;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
  z-index: 3;
}

.input-field input {
  position: relative;
  width: 90%;
  left: 6vh;
  top: 50%;
  transform: translateY(-50%);
  outline: none;
  border: none;
  height: 4vh;
  background-color: transparent;
  color: white;
  font-size: 15px;
}

.emoji-menu {
  display: none;
  position: absolute;
  z-index: 2;
  bottom: 7.5vh;
  right: 2vh;
}

.chat-manager {
  width: 100%;
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}

.action-chat {
  position: relative;
  width: 13vh;
  height: 5vh;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  background-color: #344459;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.action-chat:hover {
  color: #344459;
  background-color: white;
}

.action-chat i {
  position: absolute;
  right: 1vh;
  top: 50%;
  transform: translateY(-50%);
}

.chat-menu {
  position: absolute;
  width: 14%;
  left: 0.5%;
  height: 22vh;
  background-color: #344459;
  bottom: 8vh;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
  flex-direction: column;
  gap: 2vh;
  border-radius: 10px;
}

.chat-menu input {
  position: relative;
  width: 80%;
  height: 3vh;
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
  border-bottom: 2px solid gray;
  font-size: 15px;
  top: 2vh;
}

.chat-menu button {
  position: relative;
  width: 80%;
  height: 3vh;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  color: white;
  background-color: #253140;
  cursor: pointer;
  transition: 0.3s;
  top: 2vh;
}

.chat-menu button:hover {
  color: #253140;
  background-color: white;
}

.chat-menu span {
  position: absolute;
  top: 1vh;
  font-size: 20px;
}

.error-page {
  position: relative;
  width: 100%;
  height: 95vh;
  top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 700;
}

.err-code {
  position: relative;
  font-size: 400px;
  color: #253140;
}

.err-msg {
  position: relative;
  font-size: 50px;
}

.message-menu {
  position: absolute;
  top: 5vh;
  right: 5vh;
  width: 20vh;
  height: 15vh;
  background-color: #253140;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  gap: 2vh;
}

.mm-option {
  position: relative;
  width: 80%;
  height: 5vh;
  background-color: #344459;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 20px;
  transition: 0.2s;
  cursor: pointer;
  z-index: 10;
}

.mm-option:hover {
  color: #344459;
  background-color: white;
}

#chat-submit {
  height: 4vh;
}

.left-side {
  top: 0;
  position: relative;
  width: 50%;
  height: 95vh;
}

.main-text {
  position: relative;
  top: 20%;
  left: 20%;
  font-size: 150px;
}

.desc-text {
  position: relative;
  font-size: 40px;
  top: 25%;
  left: 20%;
}

.home-buttons {
  position: relative;
  top: 35%;
  display: flex;
  gap: 3vh;
  left: 20%;
}

.home-buttons a {
  width: 220px;
  height: 70px;
  border-radius: 50px;
  border: none;
  outline: none;
  font-size: 20px;
  background-color: #253140;
  color: white;
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-buttons a:hover {
  background-color: white;
  color: #253140;
}

.chat-dog {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
