@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed&display=swap');

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #344459;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    color: white;
}

.page-header {
    width: 100%;
    height: 5vh;
    background-color: #253140;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    font-size: 25px;
    position: fixed;
}

.header-option {
    cursor: pointer;
}

.header-right {
    position: absolute;
    right: 20vh;
}

.user-menu {
    position: absolute;
    right: 6vh;
    width: 30vh;
    height: 14vh;
    background-color: #435973;
    top: 5vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
}

.user-menu-option {
    position: relative;
    width: 80%;
    left: 10%;
    border-radius: 10px;
    margin-top: 1vh;
    background-color: #253140;
    height: 5vh;
    font-size: 20px;
    cursor: pointer;
}

.user-menu-option span { 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.user-menu-option i {
    position: absolute;
    right: 1vh;
    top: 50%;
    transform: translateY(-50%);
}