@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed&display=swap");

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #344459;
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  color: white;
}

.page-header {
  width: 100%;
  height: 5vh;
  background-color: #253140;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vh;
  font-size: 25px;
  position: fixed;
}

.header-option {
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: white;
}

.header-option::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.header-option:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header-right {
  position: absolute;
  right: 20vh;
}

.user-menu {
  position: absolute;
  right: 6vh;
  width: 30vh;
  height: 20vh;
  background-color: #435973;
  top: 5vh;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: none;
}

.user-menu-option {
  position: relative;
  width: 80%;
  left: 10%;
  border-radius: 10px;
  margin-top: 1vh;
  background-color: #253140;
  height: 5vh;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.user-menu-option:hover {
  background-color: white;
  color: #253140;
}

.user-menu-option span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.user-menu-option i {
  position: absolute;
  right: 1vh;
  top: 50%;
  transform: translateY(-50%);
}

.profile-name {
  position: relative;
  text-align: center;
  margin-top: 1vh;
  font-size: 25px;
}

.login-page,
#login-form,
.register-page,
#register-form {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4vh;
  width: 60vh;
  height: 60vh;
  background-color: #253140;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.login-page,
.register-page span {
  font-size: 20px;
}

.register-page {
  height: 75vh !important;
}

form {
  width: 100%;
  /* height: 100%; */
}

.single-input {
  width: 80%;
  display: flex;
  margin-bottom: 15px;
  border-bottom: 2px solid gray;
}
.single-input i {
  padding: 8px 16px;
  color: white;
}
.single-input input {
  width: 100%;
  outline: none;
  height: 30px;
  font-size: 18px;
  background-color: transparent;
  border: none;
  color: white;
}

.submit-btn {
  border: 0px solid #c1c1c1;
}
.submit-btn input {
  background: #344459;
  color: #fff;
  cursor: pointer;
  height: 5vh;
  border-radius: 10px;
  font-size: 20px;
  transition: 0.3s;
}

.submit-btn input:hover {
  background-color: white;
  color: #344459;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
  color: white;
}

.home-page {
  position: relative;
  top: 5vh;
}

.settings-page {
  position: absolute;
  top: 5vh;
  width: 100%;
  height: 95vh;
  display: flex;
}

.settings-nav {
  width: 25%;
  height: 100%;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 10vh;
}

.s-nav-title {
  width: 70%;
  font-size: 60px;
  font-weight: 700;
}

.s-nav-menu {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.menu-option {
  margin-top: 2vh;
  font-size: 25px;
  display: flex;
  /* gap: 1vh; */
  cursor: pointer;
  font-variant: small-caps;
  font-weight: 700;
}

.menu-option i {
  width: 60px;
}

.settings-blocks {
  width: 75%;
  height: 100%;
  background-color: purple;
}

.settings-option {
  position: absolute;
  width: 50%;
  height: 30%;
  background-color: #253140;
  top: 50%;
  left: 60%;
  transform: translate(-60%, -50%);
  border-radius: 10px;
  display: flex;
}

.option-left {
  width: 40%;
  height: 100%;
  background-color: #344459;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.option-right {
  width: 60%;
  height: 100%;
}

.left-title {
  position: relative;
  top: 2vh;
  font-size: 30px;
  left: 10%;
}

.left-desc {
  position: relative;
  width: 80%;
  top: 3vh;
  font-size: 20px;
  left: 10%;
}

.settings-username {
  position: relative;
  display: block;
  outline: none;
  top: 2vh;
  border: 1px solid gray;
  border-radius: 10px;
  width: 80%;
  left: 10%;
  height: 5vh;
  background-color: transparent;
  color: white;
  font-size: 20px;
  padding-left: 2vh;
}

.settings-username:focus {
  border: 1px solid white;
}

.settings-username:focus ~ .username-label {
  color: white;
}

.username-label {
  position: absolute;
  margin-left: 8%;
  margin-top: -2.3vh;
  font-size: 25px;
  background-color: #253140;
  cursor: text;
  color: gray;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
}

.settings-username:focus ~ .username-label,
.settings-username:not(:placeholder-shown).settings-username:not(:focus)
  ~ .username-label {
  margin-top: -4.3vh;
  font-size: 1rem;
  margin-left: 9%;
}

.save-changes {
  position: absolute;
  right: 4vh;
  bottom: 2vh;
  width: 20vh;
  height: 5vh;
  border-radius: 10px;
  background-color: #344459;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
  font-variant: small-caps;
  border: 2px solid gray;
  transition: 0.3s;
  cursor: pointer;
}

.save-changes:hover {
  border: 2px solid white;
}
